body {
    background-color: #232323;
    margin: 0;
    font-family: "Droid Sans Mono", monospace;
}

.square {
    width: 30%;
    background: purple;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
    border-radius: 15%;
    transition: background 0.5s;
    -webkit-transition: background 0.5s;
    -moz-transition: background 0.5s;
}

#container{
    margin: 20px auto;
    max-width: 600px;
}

h1{
    font-weight: normal;
    line-height: 1.1;
    text-align: center;
    color: white;
    background-color: steelblue;
    margin: 0;
    text-transform: uppercase;
    padding: 20px 0px;
}

#stripe{
    background-color: white;
    height: 30px;
    text-align: center;
}

.selected{
    background: steelblue;
    color: white;
}

#colorDisplay{
    font-size: 180%;
}

#message {
    display: inline-block;
    width: 20%;
    font-family: "Droid Sans Mono", sans-serif;
    font-weight: 900;
    color: steelblue;
}

button{
    font-family: "Droid Sans Mono", sans-serif;
    font-weight: 900;
    color: steelblue;
    height: 100%;
    border: none;
    background: none;
    text-transform: uppercase;
}

button:focus {outline:0;}

button:hover{
    background-color: steelblue;
    color: white;
    transition: all 0.4s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}
